*{
    padding:0;
    margin: 0;
}

nav{
    background-color: rgb(41, 41, 41);
}

.nav-logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.nav-logo-start{
    display: flex;
    align-items: center;
}

.nav-logo-start a:last-of-type{
    font-size:10px;
    text-decoration: none;
    font-weight: bold;
    margin-left:10px ;
    color: goldenrod;
    text-transform: uppercase;
}

.nav-logo-end{
    display: flex;
}

.nav-logo-end a{
    height: auto;
    padding: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    border-radius: 5px;
}

.nav-logo-end a:first-child{
    background-color: green;
    margin-right:10px;
}

.nav-logo-end a:first-child:hover{
    background-color: rgb(15, 97, 15);
}

.nav-logo-end a:last-child{
    background:transparent;
}


.nav-logo-end a:last-child:hover{
    border: 1px solid rgb(53, 52, 52);
} 

.nav-logo-end a:nth-child(2){
    background-color: rgb(5, 3, 3)
}

.nav-links-container{
    display: flex;
    border-top: 1px solid rgb(90, 89, 89);
    padding: 10px 50px;

}

.nav-links-container a{
    padding: 10px;  
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;

}

.nav-links-container a:first-child{
    padding-left: 0;
}

.main-top-container{
    display: flex;
    height: 80vh;
}

.main-top-start{
    background-color: rgb(5, 3, 3);
    color: #fff;
    padding:100px 40px;
    width: 30%;
}

.main-top-start h3{
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.main-top-start h1{
    font-size: 45px;
    margin-bottom: 10px;
}

.main-top-start p{
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.main-top-start a{
    padding:15px 30px;
    background-color: green;
    font-size: 13px;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}

.main-top-end{
    background: url("../img/back-golden-rush.jpg");
    width: 70%;
    background-position: center;
    background-size: cover;
    /* height: inherit; */
    box-sizing: content-box;
}





.footer{
    background-color: rgb(7, 6, 6);
    padding: 80px 0;
}

.container{
    margin: auto;
    background-color: tomato;
}

.row{
display: flex;
flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer-col{
   width: 20%;
   padding 0 15px; 
}

/* .footer-col h4{
    font-size: 15px;
    color: #ffff
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
  position: absolute;
  left:0;
  bottom: -10px;
  height: 2px;
  weight: 50px;
} */